
    <h1>Create a new scheme</h1>

    <label>Name</label>{{ input value=name}}<br />
    <label>Description</label>{{ textarea value=description}}<br />
    <label>PayoutLimit</label>{{ input value=payoutLimit }}<br />
    <label>Excess</label>{{ input value=excess }}<br />
    <label>Premium</label>{{ input value=premium }}<br /><br />

    <button {{action "submit"}}>Submit</button>

    {{outlet}}
